.outerBox {
    display: flex;
    flex-direction: column;
    width: min(80vw, 1200px);
    align-items: center;
    margin: 3% auto;
}

.innerBox {
    display: flex;
    gap: 100px;
}

.header {
    font-weight: 700 !important;
    font-size: 32px !important;
    color: rgb(35, 33, 43) !important;
    margin-bottom: 3% !important;
}

