.outerBox {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    
}

.headerBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.restaurantCard {
    background-color: rgb(251, 246, 246);
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    border-radius: 10px;
}

.restaurantCardLowerBox, .restaurantCardUpperBox {
    display: flex;
    gap: 15px;
}

img {
    height: 80px;
    width: 100px;
    object-fit: cover;
    border-radius: 10px;
}