.outerBox {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: rgb(251, 246, 246);
    padding: 10px;
    border-radius: 10px;
}

.individualBox {
    display: flex;
    flex-direction: column;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(251, 246, 246);
    padding: 10px;
    border-radius: 10px;
}